{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quote/style.css' %}" />
<body>
  <div id="usertab" class="card blue-grey darken-1">
    {% if user.is_authenticated %}
      Welcome, {{ user.get_username }}. Thanks for logging in.
      <a href="{% url 'view_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'view_login' %}">Login</a>
    {% endif %}
  </div>
  <div id="quotedetails">
    <div>
      <p id="quote">{{ object.quote }}</p>
      <br /><br />
      <p id="author">- {{ object.author }}</p>
    </div>
  </div>
</body>
