
{% extends "registration/base.html" %} {% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"><a href="{% url 'view_login' %}">Log In</a> </h2>
    <h2 class="inactive underlineHover"><a href="{% url 'view_signup' %}">Sign Up</a>  </h2>

    <!-- Login Form -->
    <form method="POST"> {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'view_passreset' %}">Forgot Password?</a>
    </div>

  </div>
</div>
{% endblock %}